@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* nav related style */
.navber{
   max-width: 1600px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    background-color: #1A0B2E;
    padding: 30px 200px;
    align-items: center;
}

.nav-item{
    display: flex;
    gap: 32px;
}

.nav-link{
    list-style: none;
    
}

.nav-links{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
     color: #ffffff;
}

.btn{
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
    padding: 16px 12px;
    background: linear-gradient(to top right, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    border-radius: 40px;
    border: none;
}

/* banner style */
.banner-container{
   max-width: 1600px;
    background-image: url(../images/hero-bg.png);
    margin: 0 auto;
    text-align: center;
}

.banner-image-1{
    padding-top: 100px ;
   
}

.banner-image{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding-bottom: 100px;
}

.banner-heading{
    font-size: 3.75rem;
    font-weight: 900;
    color: #ffffff;
    margin-top: 30px;
}

.banner-paragraph{
    font-size: 1rem;
    color: #ffffffac;
    margin-top: 10px;
}

.banner-button{
   display: flex;
   gap: 16px;
   justify-content: center;
   margin-top: 24px;
}
.btn-1{
    display: flex;
    gap: 8px;
    align-items: center;
}

.btn-2{
    font-size: 1rem;
    font-weight: 600;
    padding: 20px 12px;
    display: flex;
    gap: 8px;
    align-items: center;
    color: #00FF88;
    background: none;
    border-radius: 30px;
    border: 1px solid #6dcda0;
}

/* badge related style */

/* podcast style */
.podcast-container{
    max-width: 1600px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color: #1A0B2E;
}
.podcast-content{
    max-width: 1200px;
    padding:100px;
    margin: 0 auto;
    text-align: center;    
}
.podcast-title{
    font-size: 3rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 16px;
}
.podcast-text{
    font-size: 1rem;
    line-height: 20px;
    color: #e8e3e3c4;
    margin-bottom: 40px;
}
.podcast-price{
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;

}
.price-1{
    font-size: 3rem;
    font-weight: 900;
    color: #00FF88;
    margin-bottom: 16px;
   
}
.price-name {
   font-size: 1rem;
    line-height: 20px;
    color: #e8e3e3c4;
    margin-bottom: 40px;
    
} 

/* featured style */
.features{
    max-width: 1600px;
    margin: 0 auto;
    padding: 80px 120px;
    background-color: #230E3D;
}
.features-title{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 40px;
}
.features-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.feature-cards{
    /* border: 2px solid green; */
    border-radius: 40px;
    padding: 40px;
    background-color: #2e02678d;
}
.card-title{
   font-size: 1.50rem; 
   font-weight: 700;
   color: #ffffffd2;
   margin-top: 16px;
}
.card-text{
   font-size: 1rem; 
   line-height: 24px;
   color: #ffffffa1;
   margin-top: 16px;
}

.first{
    grid-column: span 1;
    grid-row: span 2;
}
.second{
    grid-column: span 2;
}
.third{
    grid-column: span 2;
}

/* frame style */
.frame{
    max-width: 1600px;
    margin: 0 auto;
    padding: 80px 120px;
    background-color: #1A0B2E;
}
.frame-title{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 40px;
}
.frame-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.frame-text{
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
    margin-top: 12px;
    padding-left: 40px;
    padding-right: 40px;
}
.frame-cards{
    width: 400px;
    border-radius: 30px;
    background-color: #5e3e882f;
}

.frame-paragraph{
    font-size: 1rem;
    line-height: 24px;
    color: #ffffffa3;
    margin-top: 12px;
    padding-left: 40px;
    padding-right: 40px;
}

.frame-time{
    padding-left: 40px;
    padding-right: 40px;
    align-items: center;
    display: flex;
    gap: 12px;
    margin: 12px 0;
    font-size: 1rem;
    font-weight: 600;
    color: #00ff88cf;
}
/* host related style */
.host-title{
    text-align: center;
    padding-top: 100px;
    font-size: 3rem;
    font-weight: 700;
    color: #ffffff;
}

.host-content{
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin-top: 100px;
    background-color: #230E3D;
    padding: 40px;
}
    
.host-name{
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
    margin-top: 16px;
}

.host-text{
    font-size: 1rem;
    line-height: 24px;
    color: #ffffffd4;
    margin-top: 16px;
}

.host-image{
    display: flex;
    gap: 16px;
    align-items: center;
    margin-top: 16px;
}
/* media responsive */
@media screen and (max-width:576px){
    .nav-links , 
    .nav-button{
    
        display: none;
    } 
    .navber{
        padding: 10px 40px;
    }
    .banner-heading{
        font-size: 2.8rem;
    }

    .podcast-content{
        padding: 60px;
    }
    .podcast-title{
        font-size: 2rem;
    }
    .podcast-price{
        padding-left: 70px;
        width: 100%;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
    }
    .price-1{
        font-size: 2.50rem;
        margin-left: 30px;
    }

    .features-card{
        grid-template-columns: repeat(1,1fr);
    }
    .feature-cards{
        padding: 20px;
    }
    .card-title{
        font-size: 1.3rem;
    }
    .features-title{
        font-size: 2rem;
        margin-bottom: 20px;
    }
    .features{
        padding: 20px 10px;
    }

    .frame-card{
        grid-template-columns: repeat(1,1fr);
        gap: 16px;
        align-items: center;
    }

    .frame-title{
        font-size: 2rem;
    }

    .frame{
        padding: 20px 70px;
    }
    .frame-text{
        font-size: 1.25rem;
    }

    .host-title{
        font-size: 2rem;
        padding-top: 50px;
    }

    .host-content{
     align-items: center;
     flex-direction: column;
     gap: 20px;
     margin-top: 24px;
   
}
.host-name{
    text-align: center;
}
.host-text{
    text-align: center;
}
.host-image{
    justify-content: center;
}
    



}