@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* nav related style */
.navber{
   max-width: 1600px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    background-color: #1A0B2E;
    padding: 30px 200px;
    align-items: center;
}

.nav-item{
    display: flex;
    gap: 32px;
}

.nav-link{
    list-style: none;
    
}

.nav-links{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
     color: #ffffff;
}

.btn{
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
    padding: 16px 12px;
    background: linear-gradient(to top right, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    border-radius: 40px;
    border: none;
}

/* banner style */
.banner-container{
   max-width: 1600px;
    background-image: url(../images/hero-bg.png);
    margin: 0 auto;
    text-align: center;
}

.banner-image-1{
    padding-top: 100px;
}

.banner-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding-bottom: 100px;
}

.banner-heading{
    font-size: 3.75rem;
    font-weight: 900;
    color: #ffffff;
    margin-top: 30px;
}

.banner-paragraph{
    font-size: 1rem;
    color: #ffffffac;
    margin-top: 10px;
}

.banner-button{
   display: flex;
   gap: 16px;
   justify-content: center;
   margin-top: 24px;
}
.btn-1{
    display: flex;
    gap: 8px;
    align-items: center;
}

.btn-2{
    font-size: 1rem;
    font-weight: 600;
    padding: 20px 12px;
    display: flex;
    gap: 8px;
    align-items: center;
    color: #00FF88;
    background: none;
    border-radius: 30px;
    border: 1px solid #6dcda0;
}

/* badge related style */

/* media responsive */
@media screen and (max-width:576px){
    .nav-links, .nav-button{
        display: none;
    }
    .navber{
        padding: 10px 60px;
    }
    
}