@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* nav related style */
.navber{
    width: 1600px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    background-color: #1A0B2E;
    padding: 30px 200px;
    align-items: center;
}

.nav-item{
    display: flex;
    gap: 32px;
}

.nav-link{
    list-style: none;
    
}

.nav-links{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
     color: #ffffff;
}

.btn{
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
    padding: 16px 12px;
    background: linear-gradient(to top right, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    border-radius: 40px;
    border: none;
}

/* media responsive */
@media screen and (max-width:576px){
    .nav-links, .nav-button{
        display: none;
    }
    
}